text_analysis.py
2554.xml
parseData.txt
BNC/
BNC.zip
pos_training.db
pos_training.db-journal

*.BA2016R52
Machine Learning-Deep Learning-Etc. tagger/tests.xlsx
Machine Learning-Deep Learning-Etc. tagger/~$tests.xlsx
Machine Learning-Deep Learning-Etc. tagger/log.txt
Machine Learning-Deep Learning-Etc. tagger/markov.py
Machine Learning-Deep Learning-Etc. tagger/shit.csv
